extends ../shared/layout
block main-content
  h3 Edit Article:
  if (info)
    form(method="post" action="/edit/" + info._id)
      label(for="content") Content
      br
      textarea(cols="40" rows="10" maxlength="140" name="content" id="content") #{info.content}
      br
      input(type="submit" value="Create")
  else
    h3 No such id in DB
