extends ../shared/layout
block main-content
  h3 Create Article
  form(method="post" action="/add")
    label(for="title") Title
    br
    input(type="text" name="title" id="title")
    br
    label(for="content") Content
    br
    textarea(cols="40" rows="10" name="content" id="content")
    br
    input(type="submit" value="Create")
