extends layout

block content
  div.container
    hr.col12
    div.row-fluid  
      form(method="post", action="/search-in-period")
        div.col6
          div.form-element-group
            span.form-element-extra From     
            input.form-element(placeholder="Start date" name="start" id='start' type="text")
        div.col6
          div.form-element-group
            span.form-element-extra To          
            input.form-element(placeholder="End date" name="end" id='end' type="text")
        button.btn.btn-primary(type="submit") Submit
  script(src='/javascripts/dates.js')
  script(src='/javascripts/datepicker.js')
  script(type="text/javascript").
    var picker= new DatePicker(
    {
        dataFields: [document.getElementById('start'), document.getElementById('end')] ,
        firstDay: 1,
        parser: Dates,
        format: 'dd-MMMM-yyyy',
        minDate: new Date('2000-01-01'),
        maxDate: new Date('2020-12-31'),
        yearRange: [2000, 2020]
    })
  // datepicker was borrowed from https://github.com/dbushell/Pikaday