extends  ../shared/layout
block main-content
  h3 All admins
  a(href="/admins/add") Change admin status
    ul
    each admin in admins
      li
        a(href="/profile/"+admin.username) #{admin.username}