doctype
html
  head
    title Blog System
    link(href="/css/style.css", rel="stylesheet")
  body
    .container
      ul.menu
        if(allUser)
          if(allUser.roles[0] === 'Admin')
            li
              a(href="/admins/all") Admin Panel
            li.delimiter
        li
          a(href="/") Home
        if (currentUser)
          li
            a(href="/profile/" + currentUser) Profile
          li
            a(href='/tweet') Add Tweet
          li.delimiter
          li
            span #{currentUser}
          li
            form#logout-form(method="POST" action="/users/logout")
              a(href="javascript:document.getElementById('logout-form').submit()") Logout
        else
          li.delimiter
          li
            a(href="/users/register") Register
          li
            a(href="/users/login") Login
      if (globalError)
        h3 #{globalError}
      block main-content
